.newsWrapper  {
    display: flex;
    justify-content: center;
}

.imgWrapper {
    width: 40%;

}
.infoWrapper {
    width: 55%;
    margin-left: 5%;
    
}

.imgWrapper img{
    width: 100%;
}

.wrapper {
    width: 90%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 150px;
}


.btnWrapper {
    display: flex;
    justify-content: end;
}