.formWrapper {
    width: 90%;
    display: flex;
    margin: 30px auto;
    padding: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}



.wrapper {
    
}


@media (max-width:767px) {
    .formWrapper {
        flex-direction: column-reverse;
    }
}