.headerWrapper {
    position: fixed;
    margin-bottom: 50px;
    width: 100%;
    z-index: 100;
}
header {
    width: 100%;
    background: white;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
    z-index: 1000;
    /* padding-bottom: 100px; */
    /* margin-bottom:50px ; */

}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color:black;
    font-weight: 600;
    
}
nav {
    display: flex;
}
.nav a:not(:last-child){
    margin-right: 40px;
}

.active:active {
    color: red;
}


.nameUser {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid green;
    color: green;
    padding-bottom: 1px;
}

.user {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
}

.logout {
    background: none;
    color: red; 
    border: none;  
    margin-top: 3px; 
    font-size: 16px;
    cursor: pointer;
}