.wrapper {
    width: 90%;
    margin:0 auto;
    padding: 40px 0;
    border-top: 1px solid rgb(133, 127, 127);
    margin-top: 50px;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin: 0 10px;
    font-size: 20px;
}

.icon:hover {
    transition: 0.25s ease all;
    /* font-size: 25px; */
    cursor: pointer;
    color: #1976d2;
}