.item {
    width: 30%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    /* overflow: hidden; */
    background-color: rgb(96, 108, 108);
    padding: 10px;
}

.userIcon img {
    width: 70px;
    height: 70px;
    border-radius: 30px;

}


.userIcon {
    padding: 5px;
}