.wrapper {
    padding-top: 120px;
}
.charityPosts {
    display: flex;
    color: white;

}

.charityPostsPoster {
    width: 60%;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-left: 40px;
    display: flex;
    aspect-ratio: 4/2.4;
    background-color: bisque;
    background: url('../../../public/img/main-poster.jpeg')no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    transition: 1s;
}

.charityPostsMiniPosters {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
.wrapper {
    width: 100%;
    /* margin: auto; */
}

.charityItem {
    background: url('../../../public/img/item.jpeg')no-repeat;
    background-size: cover;
    width: 50%;
    height: 50%;
    border: 1px solid white;
    flex-direction: column;
    justify-content: flex-end;
    /* padding-left: 40px; */
    /* padding: 0 0 20px 20px; */
    display: flex;
    transition: 0.25s ease all;
    transition: visibility 0s, opacity 0.5s linear;
    padding: 20px;
}

.donationBtn {
    color: white;
    background-color: coral;
    padding: 8px 70px;
    border-radius: 2px;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    display: none;
    /* transition: 0.25s ease all; */
    text-transform: uppercase;
    transform: translateX(-5px) translateY(-5px);
    transition: visibility 0s, opacity 0.5s linear;
    margin-top: 10px;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.charityPostsPoster:hover .donationBtn{
    display: block;
    transform: translateX(-5px) translateY(-5px);
    animation: fadeIn 1s;
}

.charityItem:hover .donationBtn{
    display: block;
    animation: fadeIn 1s;
}


.charityPostsPoster p {
    font-size: 16px;
    opacity: 80%;
    font-weight: 700;
}

.charityPostsPoster h2 {
    font-size: 28px;
    font-weight: 700  ;
    margin-bottom: 10px;
}

.charityItem p{
    font-size: 16px;
    opacity: 80%;;
    font-weight: 700;
}

.charityItem h2 {
    font-size: 16px;

}


.modalWindow {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 10;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.modalBtn {
    position: absolute;
    z-index: 11;
    top: 2%;
    right: 2%;
}